*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
html{
	height: 100%;
}

.site-header{
	position: relative;
	margin-top: 35px;
}

body{
	height: 100%;
	background-image: url("manwar.png");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no repeat;
	background-position: center;
	min-height: 100vh;
}
.audio{
	position: absolute;
	top: 0;
	opacity: 0.5;
	z-index: 1;
	margin-top: 125px;
}

.site-content{
	position: absolute;
	z-index: 1;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
}
.site-content h1{
	font-size: 70px;
	margin-top: 80px;
}
.site-content p{
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
}

.container2{
	display: flex;
	align-items: center;
	justify-content: center;
}
.search-bar{
	width: 100%;
	max-width: 700px;
	background: rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	border-radius: 60px;
	padding: 10px 20px;
	backdrop-filter: blur(4px) saturate(180%);
}
.search-bar input{
	background: transparent;
	flex: 1;
	border: 0;
	outline: none;
	padding: 24px 20px;
	font-size: 20px;
	color: #cac7ff;
}

::placeholder{
	color: #cac7ff;
}

.search-bar button img{
	width: 25px;
}
.search-bar button{
	border: 0;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background: #58629b;
	cursor: pointer;
}

.container{
	position: relative;
	width: 100vw;
	height: 100vh;
	/*overflow: hidden;*/
	
}
.bubbles{
	position: relative;
	display: flex;
	z-index: -1;
}
.bubbles span{
	position: relative;
	width: 30px;
	height: 30px;
	background: #ebe4d5;
	margin: 0 4px;
	border-radius: 50%;
	box-shadow: 0 0 0 10px #ebe4d544,
	0 0 50px #ebe4d5,
	0 0 100px #ebe4d5;
	animation: animate 15s linear infinite;
	animation-duration: calc(125s / var(--i))
}
.bubbles span:nth-child(even){
	background: #f5d67a;
	box-shadow: 0 0 0 10px #f5d67a44,
	0 0 50px #f5d67a,
	0 0 100px #f5d67a;
}
@keyframes animate{
	0%{
		transform: translateY(210vh) scale(0);
	}
	100%{
		transform: translateY(-10vh) scale(1);
	}
}
.content-background {
  position: fixed;
  z-index: -2;
  width: 100vw;
  height: 100%;
  background: url("manwar.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  animation-name: kenburns-top;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  left: 0;
  bottom: 0;
}

@-webkit-keyframes kenburns-top {
  0%, 100%{
		transform: translateY(10vh) scale(1.21) ;
	}
	50%{
		transform: translateY(-10vh) scale(1.21);
	}
}

nav{
	height: 90px;
	width: 100vw;
	background: rgba(255, 255, 255, 0.5);
	
	box-shadow: 0px 2px 4px rgba(0,0,0,0.144);
	position: absolute;
	/*top: 0;*/
	z-index: 1;
}

nav:hover {
	background: rgba(255, 255, 255, 1.0);
}

nav ul{
	float: right;
}
nav li{
	display: inline-block;
	margin-top: 30px;
	margin-right: 40px;
}
nav li a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #333;
	text-decoration: none;
}
nav ul li .active{
	color: #58629b;
}

nav h1{
	position: absolute;
	margin: 15px;
	margin-left: 125px;
	font-size: 50px;
}

nav img{
	height: 90px;
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
	margin-left: 20px;
}


.beisProd{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 5;
	
}

.beisitem1{
	position: absolute;
	top: 1000px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 60px;
	padding: 10px 20px;
	backdrop-filter: blur(4px) saturate(180%);
}

.beisitem2{
	position: absolute;
	top: 1750px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 60px;
	padding: 10px 20px;
	backdrop-filter: blur(4px) saturate(180%);
}

.Prod{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	scale: 0.7;
}

.item1{
	position: absolute;
	top: -200px;
	left: -800px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 60px;
	padding: 10px 20px;
	backdrop-filter: blur(4px) saturate(180%);
}

.item2{
	position: absolute;
	top: -200px;
	left: -200px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 60px;
	padding: 10px 20px;
	backdrop-filter: blur(4px) saturate(180%);
}

.item3{
	position: absolute;
	top: -200px;
	left: 400px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 60px;
	padding: 10px 20px;
	backdrop-filter: blur(4px) saturate(180%);
}

.item4{
	position: absolute;
	top: 400px;
	left: -800px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 60px;
	padding: 10px 20px;
	backdrop-filter: blur(4px) saturate(180%);
}

.item5{
	position: absolute;
	top: 400px;
	left: -200px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 60px;
	padding: 10px 20px;
	backdrop-filter: blur(4px) saturate(180%);
}

.item6{
	position: absolute;
	top: 400px;
	left: 400px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 60px;
	padding: 10px 20px;
	backdrop-filter: blur(4px) saturate(180%);
}

.item7{
	position: absolute;
	top: 1000px;
	left: -800px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 60px;
	padding: 10px 20px;
	backdrop-filter: blur(4px) saturate(180%);
}

.item8{
	position: absolute;
	top: 1000px;
	left: -200px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 60px;
	padding: 10px 20px;
	backdrop-filter: blur(4px) saturate(180%);
}

.item9{
	position: absolute;
	top: 1000px;
	left: 400px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 60px;
	padding: 10px 20px;
	backdrop-filter: blur(4px) saturate(180%);
}

.beisitem1 img{
	border-radius: 60px;
}
.beisitem2 img{
	border-radius: 60px;
}

.item1 img{
	border-radius: 60px;
	width: 500px;
}
.item2 img{
	border-radius: 60px;
	width: 500px;
}
.item3 img{
	border-radius: 60px;
	width: 500px;
}
.item4 img{
	border-radius: 60px;
	width: 500px;
}
.item5 img{
	border-radius: 60px;
	width: 500px;
}
.item6 img{
	border-radius: 60px;
	width: 500px;
}
.item7 img{
	border-radius: 60px;
	width: 500px;
}
.item8 img{
	border-radius: 60px;
	width: 500px;
}
.item9 img{
	border-radius: 60px;
	width: 500px;
}

.container-fluid{
	background: white;
	top: 50%;
	transform: translate(0%, -39%);
	width: 300px;
	position: fixed;
}

#fs_app{
	padding: 10px 15px 0;
}

#fs_app > section:not(#fs_header_bar){
	padding-top: 25px;
	padding-bottom: 10px;
	border-bottom: 2px solid #eee;
}

#fs_header_bar{
	padding-top: 25px;
	padding-bottom: 0;
}

#fs_page_title{
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	margin-left: -15px;
}

.heading{
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
}

.btn{
	width: 100%;
	background: transparent;
	border: 1px solid #ff286c;
	border-radius: 2px;
	padding: 3px;
	color: #ff286c;
	font-size: 14px;
	font-weight: 300 !important;
	margin-top: 15px;
	margin-bottom: 20px;
}

.active .btn{
	background: #ff286c;
	color: #fff;
}

#fs_price_body .line1{
	height: 2px;
	width: 100px;
	background: #eee;
}

#fs_price_body .line{
	position: absolute;
	height: 2px;
	width: 45%;
	background: #ff286c;
	left: 9%;
}

#fs_price_body .line:before{
	position: absolute;
	content: '';
	display: block;
	height: 6px;
	width: 6px;
	background: #ff286c;
	border-radius: 50%;
	left: -2px;
	top: -2px;
}

#fs_price_body .line:after{
	position: absolute;
	content: '';
	display: block;
	height: 6px;
	width: 6px;
	background: #ff286c;
	border-radius: 50%;
	right: -2px;
	bottom: -2px;
}

#fs_price_body ul{
	padding: 0;
	margin-top: 20px;
	margin-bottom: 0;
}

#fs_price_body ul li{
	list-style: none;
	display: inline-block;
	color: #d4d4d4;
}

#fs_price_body ul li:last-child{
	float: right;
}

#fs_distance_body ul{
	padding: 0;
	display: block;
	margin-top: 15px;
}

#fs_distance_body ul li{
	list-style: none;
	margin-bottom:  18px;
	font-size: 13px;
	font-weight: 400;
}

#fs_distance_body .text-right{
	float: right;
	height: 13px;
	width: 13px;
	border: 1px solid #999;
	margin-top: 3px;
}

#fs_distance_body li.active span:first-child{
	color: #ff286c;
}

#fs_distance_body li.active span:last-child{
	background: #ff286c;
	color: #fff;
	border: 1px solid #ff286c;
	font-size: 10px;
	line-height: 100%;
	text-align: center;
}

#fs_time_body ul{
	padding: 0;
	display: block;
	margin-top: 15px;
}

#fs_time_body ul li{
	list-style: none;
	margin-bottom: 18px;
	font-size: 13px;
	font-weight: 400;
}

#fs_time_body .text-right{
	float: right;
	height: 13px;
	width: 13px;
	border: 1px solid #999;
	margin-top: 3px;
}

#fs_time_body li.active span:first-child{
	color: #ff286c;
}

#fs_time_body li.active span:last-child{
	background: #ff286c;
	color: #fff;
	border: 1px solid #ff286c;
	line-height: 100%;
	text-align: center;
	font-size: 10px;
}

#fs_rating ul{
	padding: 0;
	display: block;
	margin-top: 15px;
}

#fs_rating ul li{
	list-style: none;
	margin-bottom: 18px;
	font-size: 13px;
	font-weight: 400;
}

#fs_rating .text-right{
	float: right;
	height: 13px;
	width: 13px;
	border: 1px solid #999;
	margin-top:  3px;
}

#fs_rating i{
	color: #eee;
}

#fs_rating i.dark{
	color: #000;
}

#fs_rating{
	border: none !important;
}

footer{
	position: relative;
	top: 100%;
	left: 0;
	right: 0;
	background: #111;
	height: auto;
	width: 100vw;
	font-family: "Open Sans";
	padding-top: 40px;
	color: #fff;
}
.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.footer-content h3 {
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
}
.footer-content p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}
.socials{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
}
.socials li{
	margin: 010px
}
.socials a {
	text-decoration: none;
	color: #fff;
}
.socials a i{
	font-size: 1.1rem;
	transition: color .4 ease;
	
}
.socials a:hover i{
	color: #58629b;
}

.footer-bottom{
	background: #000;
	width: 100vw;
	padding: 20px 0;
	text-align: center;
}
.footer-bottom p{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}
.footer-bottom span{
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
}

.site-footer{
	bottom: auto;
}

.site-header h1{
	color: #fff;
}

