+{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.box1{
	background: #8eaadb;
	display: grid;
	place-items: center;
}
.box2{
	background: #833c0b;
	display: grid;
	place-items: center;
}
.box3{
	background: #c45911;
	display: grid;
	place-items: center;
}
.box4{
	background: #fed5ff;
	display: grid;
	place-items: center;
}
.box5{
	background: #ff99ff;
	display: grid;
	place-items: center;
}
.box6{
	background: #ff91e2;
	display: grid;
	place-items: center;
}
.box7{
	background: #fe4cd8;
	display: grid;
	place-items: center;
}
.box8{
	background: #ec14d2;
	display: grid;
	place-items: center;
}
.box9{
	background: #c400a8;
	display: grid;
	place-items: center;
}
.box10{
	background: #b80091;
	display: grid;
	place-items: center;
}
.box11{
	background: #5c0051;
	display: grid;
	place-items: center;
}
.box12{
	background: #2a0021;
	display: grid;
	place-items: center;
}
.box13{
	background: #0070c0;
	display: grid;
	place-items: center;
}
.hero div{
	padding: 100px;
}
.box11 h1{
	color: #fff;
}
.box12 h1{
	color: #fff;
}
.hero{
	display: grid;
	grid-template-rows: auto auto auto auto;
}

.box1{
	grid-area: 1 / 1 / span 1 / span 4;
}
.box2{
	grid-area: 2 / 1 / span 1 / span 4;
}
.box3{
	grid-area: 3 / 1 / span 3 / span 1;
}
.box4{
	grid-area: 3 / 2 / span 1 / span 1;
}
.box5{
	grid-area: 3 / 3 / span 1 / span 1;
}
.box6{
	grid-area: 3 / 4 / span 1 / span 1;
}
.box7{
	grid-area: 4 / 2 / span 1 / span 1;
}
.box8{
	grid-area: 4 / 3 / span 1 / span 1;
}
.box9{
	grid-area: 4 / 4 / span 1 / span 1;
}
.box10{
	grid-area: 5 / 2 / span 1 / span 1;
}
.box11{
	grid-area: 5 / 3 / span 1 / span 1;
}
.box12{
	grid-area: 5 / 4 / span 1 / span 1;
}
.box13{
	grid-area: 6 / 1 / span 1 / span 4;
}

/* row start / col start / row end / col end*/